poly
values

run-bisection
run-newton
run-secant
run-fpi

beer-dp
beer-recursive
beer-select

fibonacci-dp
fibonacci-dp-frugal
fibonacci-memoized
fibonacci-recursive

knapsack

run-hash

*.dat

*.aux
*.bbl
*.blg
*.dvi
*.log
*.nav
*.out
*.snm
*.toc
*.vrb

*.png
*.pdf

*-hnd.tex

*~
*.bak
_region_.*

auto/
