CLASS-VERSION-FILE
class-version.tex

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.loa
*.lof
*.log
*.lol
*.lot
*.out
*.toc

*.dvi
*.pdf

INF-221*.tar.gz

*.synctex
*.synctex.gz

.DS_store
auto/
